#band1{
    height:150px;
    width:100%;
    background-color:lightgrey;
}
#band1 img{
    position:absolute;
    top:15px;
    left:5px;
    height:120px;
    width:400px;
}
#band2 {
    height: 150px;
    width: 100%;
    margin-top:50px;
    background-color: darkolivegreen;
}
.btns{
    margin-top:50px;
}
.btnHome,
.btnVal{
    height: 100px;
    width: 500px;
    font-size: 30px;
    margin: 20px;
}
h1 {
    color: #6E6356;
}
#valSum {
    font-weight: bold;
    color: red;
}
#plan{
    height:215px;
    width:300px;
}